/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/



body {
    background-color: #540B51;
      margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

nav div:last-child {
  display: flex;
  gap: 12px;
  align-items: center;
}

nav div > img{
    position: static;
    width:30%;
    left: 0px;
    top: 0px;
    
}
nav ul{
  display: none;
}

 button {
  position: static;
  right: 0px;
  top: 0px;
  background-color:#540B51;
  border: none;
}

#search{
  background-color: #540B51;
}

 #menu {
  background-color: #540B51;
 }

header {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

header h1 {
color: white;
text-align: center;

}

header  p{
  text-align: center;
}

header p > span {
color:  #ECB12F;
font-weight: bold;
}

button {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white ;
  color: #540B51;
  border-radius: 4px;
  outline: none;
  max-width: 720px;
  width: 80%;
  height: 50px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
}

header #signUpGoogle  {
  
  color: #ffffff;
  background-color: #4285F4;
}

header div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}



header button > img {
  position: absolute;
  left: 5px;
  top: -15px;
  max-width: 30px;
  max-height: 30px;
  background-color: #ffffff;
  padding: 4px;
  border-radius: 2px;
}

header img {
  max-height: 300px;
  object-fit: cover;
  margin-top: 20px;
}

#companies {
  background-color: #F3EAE2;
}

#companies p {
  text-transform: uppercase;
  text-align: center;
  padding: 50px;
}

#companies div{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-content: center;

}

#companies img{
  height: 60px;
  margin: 20px 20px 20px 20px;
}

#statistics {
  background-color: #ffffff;
  text-align: center;
  color: black;
    border: none;

}

#statistics h3{
  color: #540B51;
}

#statistics span{
  color: #540B51;
  font-weight: bold;
  font-size: 2em;
}

#statistics li p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  max-width: 200px;
}

#statistics li {
  text-align: center;
  margin-bottom: 30px;
}

#statistics ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

section{
  color: white;
  background-color: #540B51;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
    margin-bottom: 30px;

}

#talkToSales{
  background-color: #540B51;
  outline: 2px solid white;
  color: white;
}

footer{
  background-color: white;
}

hr {
  border: none;
  height: 2px;
  background-color: #540B51;
  margin: 40px 0;
}

ul {
  font-weight: bolder;
  list-style: none;
  padding-top: 50px;
  ;
}

ul li {
  margin-bottom: 20px;
}

footer ul li:last-child{

  color: #2E71A6
}
ul.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  list-style: none;
  width: 90%;
  margin: 30px 10px 10px 10px; 
}

footer div {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  
  nav ul{
    display: flex;
    flex-direction: row;
    align-content: space-around;

  }
  #menu {
    display: none;
  }

  header {
  display: flex;
  flex-direction: column; /* Arrange elements in a column */
  justify-content: space-between; /* Align horizontally */
  align-items: center; /* Align vertically */
}

  header {
    flex-direction: row;
  }

  header > div {
    width: 50%;
  }

#companies > div {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
}

#statistics ul{
  flex-direction: row;
  justify-content: space-around;

}

footer > ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding-top: 50px;
  margin: 0;
}

footer .social{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
  margin: 0;
  max-width: 50%;
}

}
